# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Large raw data (uncomment if datasets are too big for GitHub)
# data/raw/
